# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variáveis sensíveis
*.tfvars
*.tfvars.json

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc